body {
  background-image: url("../images/background.png");
  background-size: cover;
  text-align: center;
}

a {
  font-family: "Assistant", sans-serif;
  text-decoration: none;
  font-size: 24px;
}

.awning {
  background-image: url("../images/acnh-home-page-awning.png");
  background-repeat: repeat-x;
  padding: 15px 30px 50px;
  background-position: center bottom;
}

.acnh-title {
  width: 400px;
}
.landing-page-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon {
  border: 8px solid #5adbc5;
  width: 200px;
  box-shadow: 5px 10px 5px grey;
}

.speech-bubble-light {
  background-image: url("../images/acnh-speech-bubble-bg.png");

  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.speech-bubble-brown {
  background-image: url("../images/acnh-speech-bubble-bg-brown.png");

  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.landing-page-text {
  padding: 46px 36px;
  transform: translateY(-30px);
}
p {
  margin: 0;
}
