

body {
  background-image: url("../images/background.png");
  background-size: cover;
  text-align: center;
  
}

a {
  font-family: 'Assistant', sans-serif;
  text-decoration: none;
  font-size: 24px;
}

.awning {
  width: 100%;
}

.acnh-title {
  margin: -500px auto 0;
  width: 450px;
}
.landing-page-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon {
  border: 8px solid #5adbc5;
  width: 200px;
  box-shadow: 5px 10px 5px grey;
}

.speech-bubble {
  width: 240px;
  margin: -400px auto 0;
  /* position: absolute;  */
   /* z-index: -1; */

}

p {
  color: red;
  z-index: 1;
}
