.quiz-wrapper {
  position: relative;
}
.quiz-wrapper .nav-button {
  background-color: #fefef9;
  border-radius: 30px;
  display: flex;
  align-items: center;
  position: absolute;
  height: fit-content;
  top: 0;
  bottom: 0;
  margin: auto;
  padding-right: 10px;
  z-index: 1;
  border: none;
}
.quiz-wrapper .nav-button img {
  width: 25px;
  padding: 5px;
}
.quiz-wrapper .nav-button.nav-button-previous {
  left: 10%;
}
.quiz-wrapper .nav-button.nav-button-next {
  right: 10%;
}
.quiz-wrapper .prev-button-disable {
  pointer-events: none;
  opacity: 0.5;
}
.quiz-wrapper .next-button-hide {
  display: none;
}
.quiz-wrapper .question-container {
  margin: 50px;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.quiz-wrapper .question-container .question-image-container img {
  max-height: 70px;
}
.quiz-wrapper .question-container .question-image-container .question-image {
  border-radius: 30px;
  max-height: 400px;
  max-width: 800px;
  border: 8px solid #fcf8dd;
  box-shadow: 0px 15px 1px rgba(0, 0, 0, 0.2);
}
.quiz-wrapper .question-container .question-image-container .question-number {
  background-color: #f65845;
  color: #fefef9;
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
  box-shadow: 0px 15px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: absolute;
  left: 13%;
  top: 4%;
}
.quiz-wrapper .question-container .question {
  padding: 40px 40px 50px;
  font-size: 25px;
  color: #8e8774;
}
.quiz-wrapper .question-container .hover-pointer .fa-hand-point-right {
  opacity: 0;
}
.quiz-wrapper .question-container .hover-pointer:hover .fa-hand-point-right {
  opacity: 1;
}
.quiz-wrapper .show-slide {
  display: flex;
}
.quiz-wrapper .hide-slide {
  display: none;
}
.quiz-wrapper .quiz-question-container {
  transform: translateY(-20%);
}
.quiz-wrapper .quiz-question-container .answers-container {
  padding: 30px 40px 40px 30px;
  transform: translateY(-30%);
}
.quiz-wrapper .quiz-question-container .answers-container button {
  color: #fefef9;
  background-color: transparent;
  border: none;
  padding: 5px;
  font-weight: bold;
}
.quiz-wrapper .hide {
  display: none;
}
.quiz-wrapper .show {
  display: block;
}
.final-score-hide {
  display: none;
}
.final-score {
  background-color: #e6b501;
  color: #fcf3d5;
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
  box-shadow: 0px 15px 1px rgba(0, 0, 0, 0.2);
}
.restart {
  background-color: #f65845;
  color: #fefef9;
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
  box-shadow: 0px 15px 1px rgba(0, 0, 0, 0.2);
  border: none;
}
.bell-score {
  background-color: #f9f6e5;
  padding: 20px;
  max-width: 50%;
  font-size: 50px;
}
.bell-score img {
  max-width: 80px;
}
