.villager-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.villager-wrapper .villager-nav-container .btn-vill-nav {
  background-color: #0ec7b8;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 12px 24px;
  font-size: 1rem;
}
.villager-wrapper .villager-nav-container .btn-vill-nav:hover {
  background-image: url('../images/acnh-dialog-tile.png');
}
.villager-wrapper .villager-nav-container .btn-vill-nav.vill-nav-all {
  transform: scale(0.75) translateY(-48px);
}
.villager-wrapper .villager-nav-container .btn-vill-nav.vill-nav-approved {
  transform: translateX(-24px);
}
.villager-wrapper .villager-nav-container .btn-vill-nav.vill-nav-rejected {
  transform: translateX(24px);
}
.villager-container {
  background-image: url('../images/acnh-tile-fruits.jpg');
  border: 8px solid #fcf8dd;
  border-radius: 30px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
  height: 404px;
  width: 270px;
  margin: 50px;
  padding: 50px;
  text-align: center;
  box-shadow: 0px 10px 1px rgba(0, 0, 0, 0.2);
}
.villager-container .villager-card {
  display: flex;
  align-items: center;
}
.villager-container .villager-card .villager-img {
  margin: 20px 0px 20px 20px;
  width: 230px;
  height: 380px;
  object-fit: contain;
}
.villager-container .button-swipe {
  display: flex;
  position: relative;
  bottom: 45%;
}
.villager-container .button-swipe .nav-villager {
  background-color: #f3f7de;
  border-radius: 30px;
  display: flex;
  align-items: center;
  position: absolute;
  height: fit-content;
  top: 0;
  bottom: 0;
  margin: auto;
  padding-right: 10px;
  border: none;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.2);
  color: #88816d;
}
.villager-container .button-swipe .nav-villager.nav-villager-reject {
  right: 100%;
}
.villager-container .button-swipe .nav-villager.nav-villager-approve {
  left: 100%;
}
.villager-container .button-swipe img {
  width: 25px;
  padding: 5px;
}
.villager-container .quotes-container {
  display: flex;
  position: absolute;
  top: 18%;
  font-size: 18px;
}
.villager-container .quotes-container .speech-bubble-brown {
  position: relative;
  right: 20%;
  color: #fefbfd;
}
.villager-container .quotes-container .speech-bubble-light {
  position: relative;
  left: 13%;
  color: #89826f;
}
.villager-container .quotes-container .speech-bubble-light p {
  width: 50%;
}
.villager-container .name-container {
  display: flex;
  justify-content: center;
}
.villager-container .speech-bubble-orange {
  background-image: url('../images/acnh-speech-bubble-bg-orange.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 30px;
  color: #fff8fe;
}
.villager-container p {
  padding: 46px 36px;
}
.villager-container .villager-container-back {
  background-color: #ebefd6;
  border: 8px solid #fef7da;
  border-radius: 30px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
  height: 404px;
  width: 270px;
  margin: 50px;
  padding: 50px;
  text-align: center;
  box-shadow: 0px 10px 1px rgba(0, 0, 0, 0.2);
  color: #87836d;
  text-align: left;
}
.villager-container .villager-container-back .villager-back-name {
  color: #87836d;
  border-bottom: dashed;
  width: 50%;
  padding-bottom: 20px;
}
.villager-container .villager-container-back p {
  padding: 0;
}
.villager-container .villager-container-back h2 {
  margin-bottom: 0;
}
.villager-container .villager-container-back .villager-back-info {
  display: flex;
  align-items: flex-end;
  color: #87836d;
}
.villager-container .villager-container-back .villager-back-info img {
  padding-left: 40px;
  width: 80%;
}
.hide-slide {
  display: none;
}
.show-slide {
  display: block;
}
