// Villagers.js
// Villagers.js

.villager-wrapper {
  .btn-vill-nav {
    background-color: #0ec7b8;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;

    &:hover {
      background-image: url("../images/acnh-dialog-tile.png");
    }
  }
}

// VillagersContainer.js
// VillagersContainer.js

.villager-container {
  background-image: url("../images/acnh-tile-fruits.jpg");
  border: 8px solid #fcf8dd;
  border-radius: 30px;
  background-position: center top;
  background-repeat: no-repeat;
  // background-size: 500px 700px;
  // height: 850px;
  // width: 540px;
  margin: 50px;
  padding: 50px;
  text-align: center;

  .nav-villager {
    background-color: #f3f7de;
    border-radius: 30px;
    display: flex;
    align-items: center;
    // position: absolute;
    // height: fit-content;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-right: 10px;
    // z-index: 1;
    border: none;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.2);
  }

  button {
    img {
      width: 25px;
      padding: 5px;
    }
  }

  .villager-info {
    .quotes-container {
      display: flex;
      justify-content: center;
    }

    p {
      padding: 46px 36px;
    }
  }

  .name-container {
    display: flex;
    justify-content: center;
  }
  .speech-bubble-orange {
    background-image: url("../images/acnh-speech-bubble-bg-orange.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.hide-slide {
  display: none;
}

.show-slide {
  display: block;
}

.villager-img {
  max-width: 40%;
}
