// Villagers.js
// Villagers.js

.villager-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    .villager-nav-container {
        .btn-vill-nav {
            background-color: #0ec7b8;
            border-radius: 30px;
            border: none;
            box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.2);
            color: white;
            padding: 12px 24px;
            font-size: 1rem;

            &:hover {
                background-image: url('../images/acnh-dialog-tile.png');
            }

            &.vill-nav-all {
                transform: scale(0.75) translateY(-48px);
            }

            &.vill-nav-approved {
                transform: translateX(-24px);
            }

            &.vill-nav-rejected {
                transform: translateX(24px);
            }
        }
    }
}

// VillagersContainer.js
// VillagersContainer.js

.villager-container {
    position: relative;
    padding-top: 60px;
    width: 450px;

    .quotes-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        top: 24px;
        position: absolute;
        z-index: 1;

        .speech-bubble-brown {
            color: #fefbfd;
            padding: 24px 32px 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 24px;
        }

        .speech-bubble-light {
            color: #89826f;
            padding: 24px 32px 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 24px;
        }
    }

    .villager-card-container {
        cursor: pointer;
        perspective: 2000px;

        &.flip { // on "click", add this class to [.villager-card-container] DOM element
            .villager-card-front {
                transform: rotateY(180deg);
            }

            .villager-card-back {
                transform: rotateY(360deg);
            }
        }

        .villager-card {
            border-radius: 30px;
            height: 404px;
            width: 270px;
            text-align: center;
            box-shadow: 0px 10px 1px rgba(0, 0, 0, 0.2);
            padding: 50px;
            backface-visibility: hidden;
            transition-duration: 0.4s;
            margin: 0 auto;
        }

        .villager-card-front {
            background-image: url('../images/acnh-tile-fruits.jpg');
            border: 8px solid #fcf8dd;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: 1000px 1000px;
            display: flex;
            align-items: center;

            .villager-img {
                margin: 20px 0px 20px 20px;
                width: 230px;
                height: 380px;
                object-fit: contain;
            }
        }

        .villager-card-back {
            background-color: #ebefd6;
            border: 8px solid #fef7da;
            color: #87836d;
            text-align: left;
            margin-top: -520px;
            transform: rotateY(180deg);

            .villager-back-name {
                color: #87836d;
                border-bottom: dashed;
                width: 50%;
                padding-bottom: 20px;
                margin-top: 90px;
            }

            p {
                padding: 0;
            }

            h1,
            h2 {
                margin-bottom: 0;
            }

            .villager-back-info {
                display: flex;
                align-items: center;
                color: #87836d;

                .villager-back-info-text {
                    width: 1500px;
                }

                .villager-img {
                    padding-left: 10px;
                    width: 1000px;
                    object-fit: contain;
                }
            }
        }
    }

    .button-swipe {
        display: flex;

        .nav-villager {
            background-color: #f3f7de;
            border-radius: 30px;
            display: flex;
            align-items: center;
            position: absolute;
            height: fit-content;
            top: 0;
            bottom: 0;
            margin: auto;
            padding-right: 10px;
            border: none;
            box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.2);
            color: #88816d;

            &.nav-villager-reject {
                left: 0;
            }

            &.nav-villager-approve {
                right: 0;
            }
        }

        img {
            width: 25px;
            padding: 5px;
        }
    }

    .name-container {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;
        transform: translateY(-42px);

        .speech-bubble-orange {
            background-image: url('../images/acnh-speech-bubble-bg-orange.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            font-size: 30px;
            color: #fff8fe;
            padding: 24px 48px 32px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.hide-slide {
    display: none;
}

.show-slide {
    display: block;
}
