@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');

body,
button {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}

.App {
  text-align: center;
}

button {
  cursor: pointer;
}

