@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v18/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7MV3A.ttf) format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v18/HhyJU5sn9vOmLxNkIwRSjTVNWLEJt7QV3A.ttf) format('truetype');
}
body {
  font-family: "Dosis", sans-serif;
  background-image: url("images/acnh-tile.jpg");
  background-size: 30%;
}
.App {
  text-align: center;
}
/* You can delete this from here... */
/* img {
  display: block;
  max-height: 180px;
  max-width: 100%;
}

.which-villager-app {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.which-villager-app .villager-card {
  border: 1px black solid;
  border-radius: 12px;
  padding: 24px;
  margin: 8px;
  flex: 1 1 12.5%;
} */
/* ...to here! */
.villager-container {
  background-image: url("images/amiibo-bkground.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 500px 700px;
  height: 850px;
  width: 540px;
  margin: 50px;
  padding: 50px;
  text-align: center;
}
.villager-img {
  max-width: 40%;
}

img {
  max-width: 100%;
  border-radius: 30px;
}
button {
  background-color: transparent;
  border: none;
  padding: 5px;
  font-weight: bold;
}
.hover-pointer .fa-hand-point-right {
  opacity: 0;
}
.hover-pointer:hover .fa-hand-point-right {
  opacity: 1;
}
/* .answer-button-container {
  box-shadow: 3px 4px 0px 0px #9dffb1;
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #81f1f7;
  display: inline-block;
  cursor: pointer;
  color: #c48d3f;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #fffffa;
  margin: 5px;
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transform: scale(1);
}
.answer-button-container:hover {
  background-color: #bab1ba;
  transform: scale(1.25);
}
.answer-button-container:active {
  position: relative;
  top: 1px;
} */
.hide {
  display: none;
}
.show {
  display: block;
}
.result-correct {
  color: green;
}
.result-incorrect {
  color: red;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
